@import 'components/header';
@import 'components/main';
@import 'components/footer';
@import 'base/colors';
@import 'base/listas';
@import 'base/extends';
@import 'base/mixins';


* {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
}

body {
    background-image: url(../multimedia/fotos/fondo.jpg);
    background-size: 100%;
}

.disclaimer{
    display: none;
}

